doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FSD Frontend 2 step
    body
        h1.ul-kit__title UI Kit
        ul.ui-kit 
            a(href="colorsType.html" target="_blank")
                li Colors & Type
            a(href="#" target="_blank")
                li Form Elements
            a(href="#")
                li Cards
            a(href="#")
                li Header & Footer
        h2.website-pages__title
            a(class="website-pages" href="#")
                | Website