extends base

block variables
    - var title = 'Pug and Webpack';
    - var pageClass = 'wrapper-page';

block content
    h1 Hello, Pug and Webpack
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam rem, nulla nisi dolor a asperiores libero voluptates quos delectus animi distinctio omnis voluptas vel quam laboriosam, sit culpa molestiae enim.