@font-face {
	font-family: 'Quicksand';
	src: url('../static/fonts/Quicksand/Quicksand-Bold.eot');
	src: local('☺'), url('../static/fonts/Quicksand/Quicksand-Bold.woff') format('woff'), 
	url('../static/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'), 
	url('../static/fonts/Quicksand/Quicksand-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../static/fonts/Quicksand/Quicksand-Regular.eot');
	src: local('☺'), url('../static/fonts/Quicksand/Quicksand-Regular.woff') format('woff'), 
	url('../static/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'), 
	url('../static/fonts/Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../static/fonts/Montserrat/Montserrat-Bold.eot');
	src: local('☺'), url('../static/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), 
	url('../static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), 
	url('../static/fonts/Montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../static/fonts/Montserrat/Montserrat-Regular.eot');
	src: local('☺'), url('../static/fonts/Montserrat/Montserrat-Regular.woff') format('woff'), 
	url('../static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), 
	url('../static/fonts/Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MaterialIcons';
	src: url('../static/fonts/MaterialIcons-Regular.eot');
	src: local('☺'), url('../static/fonts/MaterialIcons-Regular.woff') format('woff'), 
	url('../static/fonts/MaterialIcons-Regular.ttf') format('truetype'), 
	url('../static/fonts/MaterialIcons-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}




