.conteiner {
    display: flex;
    min-height: 300px;
    background-color: wheat;
    .title {
        font-weight: bold;
    }
}

.images {
    background-image: url('/img/dogsad.jpg');
    width: 100%;
    height: 1000px;
}
